<% provide :title, t(".title_signup") %>
<div id="login-modal" class="modal">
  <div class="modal-content">
    <div class="row">
      <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title"><%= t ".title_signup" %></div>
          </div>
          <div style="padding-top:30px" class="panel-body" >
            <%= form_for resource, as: resource_name,
              url: registration_path(resource_name) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, autofocus: true,
                  class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off",
                  class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, t(".confirm") %>
                <%= f.password_field :password_confirmation,
                  autocomplete: "off", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :teacher, class: "radio-inline set" do %>
                  <%= f.radio_button :role, "1", value: 1 %>
                  <span><%= t ".teacher" %></span>
                <% end %>

                <%= f.label :student, class: "radio-inline set" do %>
                  <%= f.radio_button :role, "0", value: 0 %>
                  <span><%= t ".student" %></span>
                <% end %>
              </div>

              <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                  <%= f.submit t(".create"), class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
