<div class="lessions-page">
  <div class="card z-depth-1 border-0">
    <div class="card-body">
      <div class="card-title">
      <h1 class="page-header"><%= t".users" %>
          <small><%= t".search_title" %></small>
        </h1>
      </div>
      <div class="card-body p-0">
        <table class="table table-responsive-md table-striped table-hover">
          <thead class="thead-light">
            <tr align="center">
              <td><h5><b><%= t ".lessions" %></b></h5></td>
              <td><h5><b><%= t ".description" %></b></h5></td>
            </tr>
          </thead>
          <tbody  id="search_users_result">
            <%= render "search_users", search_users: @users %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card z-depth-1 border-0">
    <div class="card-body">
      <div class="card-title">
      <h1 class="page-header"><%= t".lessons" %>
          <small><%= t".search_title" %></small>
        </h1>
      </div>
      <div class="card-body p-0">
        <table class="table table-responsive-md table-striped table-hover">
          <thead class="thead-light">
            <tr align="center">
              <td><h5><b><%= t ".lessions" %></b></h5></td>
              <td><h5><b><%= t ".description" %></b></h5></td>
            </tr>
          </thead>
          <tbody  id="search_lessons_result">
            <%= render "search_lessons", search_lessons: @users %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
