<% provide :title, @user.name %>
<div class="user-infomation">
  <div class="user-cover">
    <% if @user.current_user? current_user %>
      <div>
        <%= gravatar_for @user %>
        <h1><%= link_to @user.name, edit_user_registration_path(@user.id) %></h1>
      </div>
    <% else %>
      <div>
        <%= gravatar_for @user %>
        <h1><%= @user.name %></h1>
      </div>
    <% end %>
  </div>
  <div class="counts">
      <%= render "shared/count" %>
  </div>
  <div class="follow-btn">
    <%  if user_signed_in? %>
      <%= render "follow_form" %>
    <% end %>
  </div>
  <div>
    <% @lessons.each do |lesson| %>
      <div class="lesson">
        <%= render "lessons/lesson", lesson: lesson %>
      </div>
    <% end %>
  </div>
</div>
