<div class="post-lesson">
  <div class="user-info-mini">
    <%= gravatar_for lesson.user, size = Settings.image.small_size %>
    <h3 class="user-name"><%= lesson.user.name %></h4>
    <h6><%= lesson.created_at.strftime "%D %H:%M" %></h6>
    <p><%= lesson.content %></p>
  </div>
  <div class="btn-group">
    <div id = "lesson_likes">
    <%= render "lessons/likes", lesson: lesson %>
    </div>
    <div>
      <button onclick="getFocus(<%= lesson.id %>)">
        <span><i class="material-icons">comment</i></span>
      </button>
    </div>
    <div class="dropdown_share">
      <button class = "dropbtn" >
        <span><i class="material-icons" >share</i></span>
      </button>
      <div class="dropdown_share-content">
         <%= social_share_button_tag lesson.name, allow_sites: %w(twitter) %>
         <%= social_share_button_tag lesson.name, allow_sites: %w(facebook) %>
         <%= social_share_button_tag lesson.name, allow_sites: %w(google_plus) %>
      </div>
    </div>
  </div>
  <hr>
  <div class="all_comment">
    <%= link_to (t(".all") + " #{lesson.comments.count} " + t(".comments")), lesson_comments_path(lesson.id) %>
  </div>
  <div id="form-lesson">
    <%= render "comments/comments", object: lesson %>
  </div>
  <%= render "comments/form", object: lesson %>
</div>
