<div class="card z-depth-1 border-0">
  <div class="card-body">
    <div class="card-title">
    <h1 class="page-header"><%= t ".less" %></h1>
    </div>
    <div class="card-body p-0">
      <table class="table table-responsive-md table-striped table-hover">
        <thead class="thead-light">
          <tr align="center">
            <td><h5><b><%= t ".less" %></b></h5></td>
            <td><h5><b><%= t ".dess" %></b></h5></td>
          </tr>
        </thead>
        <tbody id="search_result">
          <% @lessons.each do |lesson| %>
            <tr class="odd gradeX" align="center">
              <td><%= link_to lesson.name, lesson_path(lesson.id) %></td>
              <td><%= lesson.description %></td>
            </tr>
          <% end %>
          <%= paginate @lessons, theme: "twitter-bootstrap-3" %>
        </tbody>
      </table>
    </div>
  </div>
</div>
