<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
    <%= link_to t(".title"), root_path, id: "logo" %>
    <ul class="navbar-nav search">
      <% if request.original_url.include? search_url %>
        <%= form_tag search_path, method: :get, class: "form-inline my-2 my-lg-0", remote: true do %>
        <div class="input-group">
          <%= text_field_tag :term, params["term"], placeholder: t(".search"), class: "form-control", id: "search-autocomplete" %>
          <span class="input-group-btn">
            <button class="btn btn-outline-secondary" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div>
        <% end %>
      <% else %>
         <%= form_tag search_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
         <div class="input-group">
          <%= text_field_tag :term, params["term"], placeholder: t(".search"), class: "form-control", id: "search-autocomplete" %>
          <span class="input-group-btn">
            <button class="btn btn-outline-secondary" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div>
        <% end %>
      <% end %>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li class="dropdown">
            <%= link_to "#",
              class: "menu-button notifies-btn" do %>
              <i class="material-icons">notifications</i>
              <div class="notifications-count">
                  <%= current_user.notifications.count %>
              </div>
            <% end %>
            <div class="dropdown-content">
              <% current_user.notifications.first(Settings.notify.max_notify_show).each do |notification| %>
                <div>
                  <%= render "notifications/header_notification",
                    notification: notification %>
                </div>
              <% end %>
              <div><%= link_to t(".all_notify"), notifications_path, class: "all-notify-header" %>
              </div>
            </div>
        </li>
          <li><%= link_to root_path, class: "menu-button" do %>
            <i class="material-icons">home</i>
          <% end %></li>
          <li><%= link_to logout_path,
            {class: "menu-button", method: :delete} do %>
            <i class="material-icons">input</i>
          <% end %></li>
        <% else %>
          <li><%= link_to t(".help"), help_path, class: "menu-button" %></li>
          <li><%= link_to t(".login"), login_path, class: "menu-button", id: "btn-login" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
