<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
    <%= link_to t(".title"), root_path, id: "logo" %>
    <ul class="navbar-nav search">
      <% if request.original_url.include? search_users_url %>
        <%= search_form_for @q, url: search_users_path, remote: true do |f| %>
        <div class="input-group">
          <%= f.text_field :name_cont, data: {autocomplete_lesson: Lesson.all.map(&:name)}, class: "form-control", id: "search-autocomplete" %>
          <span class="input-group-btn">
            <%= f.submit "search", class: "btn btn-outline-secondary" %>
          </span>
        </div>
        <% end %>
      <% else %>
      <%= search_form_for @q, url: search_users_path do |f| %>
        <div class="input-group">
          <%= f.text_field :name_cont, data: {autocomplete_lesson: Lesson.all.map(&:name)}, class: "form-control", id: "search-autocomplete" %>
          <span class="input-group-btn">
            <%= f.submit "search", class: "btn btn-outline-secondary" %>
          </span>
        </div>
        <% end %>
      <% end %>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="dropdown">
          <div class="menu-button" id="btn-notify">
            <i class="material-icons">notifications</i>
            <div id="notifications-count">
              <%= current_user.notifications.count %>
            </div>
          </div>
            <div class="dropdown-content" id="dropdown-content">
              <%= render "notifications/header_notifications" %>
            </div>
        </li>
          <li><%= link_to root_path, class: "menu-button" do %>
            <i class="material-icons">home</i>
          <% end %></li>
          <li><%= link_to destroy_user_session_path,
            {class: "menu-button", method: :delete} do %>
            <i class="material-icons">input</i>
          <% end %></li>
        <% else %>
          <li><%= link_to t(".login"), new_user_session_path,
            class: "menu-button", id: "btn-login" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <script>toggleBtnNotification()</script>
</header>
